<?xml version="1.0" encoding="UTF-8"?>
<!-- Set to debug or trace if log4j initialization is failing -->
<Configuration status="warn">
    <!-- Console appender configuration -->
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%d{yyyy-MM-dd HH:mm:ss}] %-5p %c{2} => %style{%m%n}{bright_white}}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=white, TRACE=blue}" />
        </Console>
    </Appenders>

    <Loggers>
        <!-- Root logger level: trace debug info warn error fatal -->
        <Root level="debug">
            <!-- Root logger referring to console appender -->
            <AppenderRef ref="console" />
        </Root>
    </Loggers>

</Configuration>